<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>She plans to travel in the coming May Day</key>
	<string>她打算在即将到来的“五一”外出旅游。</string>
	<key>I don’t know what I should do next</key>
	<string>我不知道下一步该干什么。</string>
	<key>I am afraid of there being no fresh water</key>
	<string>我怕没有淡水。</string>
	<key>The boy needs a pen</key>
	<string>这位男孩需要一支笔。</string>
	<key>Li Ming works very hard</key>
	<string>李明学习很努力。</string>
	<key>The accident happened yesterday afternoon</key>
	<string>事故是昨天下午发生的。</string>
	<key>we keep the classroom clean</key>
	<string>我们保持教室干净</string>
	<key>I give him a thousand dollars</key>
	<string>我给了他一千块钱。</string>
	<key>I kept the room warm</key>
	<string>我保持房间温暖。</string>
</dict>
</plist>
